main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: #fafafa;
    padding-bottom: 7.75rem;
}
.container-mainPortfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 1rem;
}
.header-rightContent li:nth-child(3) {
    color: #000000;
}


/* PORTFOLIO BLOCK PORTFOLIO ================================================*/
.portfolioBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 1145px;
    margin: 0 auto;
}
.portfolioBlock nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    padding: .7rem 0;
    margin: 1.75rem 0;
}
.portfolioBlock nav::before{
    position: absolute;
    top: 0;

    content: "";
    display: block;
    background-color: #ebebeb;
    height: 1px;
    width: 100%;
}
.portfolioBlock nav::after{
    position: absolute;
    bottom: 0;

    content: "";
    display: block;
    background-color: #ebebeb;
    height: 1px;
    width: 100%;
}
.portfolioBlock ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolioBlock li {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
}
.portfolioBlock input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}
.portfolioBlock input:checked + label {
    color: #000000;
}
.portfolioBlock label {
    font-family: 'Roboto Bold', sans-serif;
    font-size: .7rem;
    letter-spacing: .1rem;
    color: #777777;
    text-transform: uppercase;
}
.portfolioBlock li:not(.last_li)::after {
    content: url(../img/main/home/nav/line.png);
    margin: 0 .8vw;
}
.imgBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.col {
    height: max-content;
}
.col-last {
    margin-right: -1.5rem;
}
.containerImg {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin: 0 1.5rem 1.5rem 0;
    transition: 1s;
}
.containerImg::before {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 2rem;
    background-color: #ffffff;
    
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: .2s ease-in-out;
}
.containerImg::after {
    position: absolute;
    content: "";
    display: block;
    width: 2px;
    height: 2rem;
    background-color: #ffffff;

    transform: rotate(90deg);
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    transition: .2s ease-in-out;
}
.containerImg img {
    cursor: pointer;
    transition: .2s ease-in-out;
}
.containerImg:hover img {
    opacity: 50%;
}
.containerImg:hover::before {
    opacity: 70%;
}
.containerImg:hover::after {
    opacity: 70%;
}
.moreImgButton {
    background-color: #959595;
    border-radius: 2px;
    width: 6.25rem;
    height: 1.5rem;
    margin-top: 2rem;

    font-family: 'Roboto Bold', sans-serif;
    font-size: .65rem;
    letter-spacing: .03rem;
    color: #ffffff;
    text-transform: uppercase;
}